<td>

  <% if order.unpaid? %>
    <%=  link_to('微信付款', pay_with_wechat_account_order_path(order.token), method: :post, class: 'btn btnsm btnsuccess')  %>
    <%= link_to('支付宝付款', pay_with_alipay_account_order_path(order.token), method: :post, class: 'btn btnsm btninfo') %>
    <%= link_to('取消订单', cancel_order_account_order_path(order.token), method: :post, class: 'btn btndefault btnsm') %>

  <% else %>
    <%= link_to('查看', '#', class: 'btn btndefault btnsm') %>
  <% end %>
</td>
