<div class="pull-right">
  <%= link_to("Add a FAQ", new_admin_faq_path, :class => "btn btn-default") %>
</div>


<div class="panel panel-default" style="margin-top:40px;">
  <ul class="list-group center">
    <% @faqs.each do |faq| %>
    <li class="list-group-item">
      <%= link_to(faq.title,  admin_faq_path(faq)) %>
      <%= link_to("Edit", edit_admin_faq_path(faq), class: "btn btn-xs btn-primary pull-right") %>
      <%= link_to("Delete", admin_faq_path(faq), method: :delete, class: "btn btn-xs btn-danger pull-right", data: { confirm: "Are you sure?"}) %>
    </li>
    <% end %>
  </ul>
</div>
