<!--........................................  FAQ     .......................................-->
<!--.........................................................................................-->


      <div class="container">
    <div class="page-header ">
        <h2 class="text-center">课程内容FAQ <br><small> 如果您对课程的内容有任何的疑问，欢迎来这里<a href="https://github.com/hackschoolcn/hackschool/issues" target=_new>提问</a></small></h2>
          <!-- <div class="well well-sm entete"></div> -->
    </div>
<br><br>

  <% @faqs.each do |faq| %>
      <!-- <div class="panel-group" id="accordion"> -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          <%= link_to("Q: #{faq.title}", account_course_faq_path(@course, faq)) %>
<!-- Q：即时通讯工具 slack 需要翻墙才能用。如何翻墙？         -->
       </a>
      </h4>
    </div>
    <div class="panel-body">
      <%= render_markdown_text(faq.description) %>
    </div>
  </div>
  <% end %>
</div>
