<div class="panel panel-default" style="margin-top:40px;">
  <h1>FAQ</h1>
  <ul class="list-group center">
    <% @faqs.each do |faq| %>
    <li class="list-group-item">
      <%= link_to(faq.title,  account_faq_path(faq)) %>
    </li>
    <% end %>
  </ul>
</div>
