<div class="col-md-8 col-lg-offset-2">
  <%= render "search/chapters/search_bar" %>

  <br>


   <div class="item_div">
     <table class="table table-borderd">
       <% if (@chapters.total_entries > 0) %>
       <%= @chapters.total_entries %>
       <%= render :partial => "search/chapters/item", :collection => @chapters, :as => :chapter %>
       <% end %>
     </table>

     <div class="text-center">
      <%= will_paginate @chapters %>
     </div>
   </div>

</div>
