<div class="col-md-3">

<h2>Mac 裝機實務</h2>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">第一部分</div>


    <!-- List group -->
    <ul class="list-group">

     <li class="list-group-item"><%= link_to("Chapter 1", course_section_path(@course, @section)) %> </li>

      <li class="list-group-item">2. 第2章 </li>
      <li class="list-group-item">3. 第3章 </li>
      <li class="list-group-item">4. 第4章 </li>
      <li class="list-group-item">5. 第5章 </li>
    </ul>
  </div>
</div>
