<div class="row">
<div class="col-md-8 col-md-offset-2">
  <h2 class="text-center">教师简介</h2>
    <br><br>

      <div class="col-md-4">
          <img src="/images/haha.jpg" alt="" class="img-rounded">
      </div>

      <div class="col-md-8">
          <ul style="font-size:16px;">
              <li>郑伊廷（ Xdite ）</li>
              <li>Rocodev 、 Logdown 、Taipei Rails Meetup网站创始人。</li>
              <li>亚洲知名的Ruby on Rails的开发者。</li>
              <li>Xdite以软件敏捷开发实力著称，曾经领导开发过多个小中大型项目，皆如期准时上线。</li>
              <li>喜欢参加Hackathon ，曾以一个七小时开发的作品拿下 Facebook 2012 年的 World Hack 全球首奖。</li>
              <li>担任过多个国家 RubyConf 的讲者以及出版多本 Ruby on Rails 的教材。</li>
              <li>擅长Rails的开发，专案管理， MVP 实作以及 Growth Hack。</li>
              <li><%= link_to("http://blog.xdite.net", "http://blog.xdite.net") %></li>
          </ul>
      </div>
</div>
</div>
