<div class="row">
<div class="col-md-8 col-md-offset-2">
    <h2 class="text-center">课程 FAQ</h2>
     <br><br>

      <div class="faq-block">
          <h4>Q：我没有基础可以上这个课吗？</h4>

          <p>可以。本教材是由具备丰富的经验，辅导过许多无计算机背景的学生成为职业 Rails 全栈工程师编写。编程最重要的是耐心以及积极，本科计算机知识不是必须项。不过因为课程需要阅读大量英文文档，所以我们要求您要有一定的英语水准（大学英语四级及以上）。</p>
      </div>
      <br>

      <div class="faq-block">
          <h4>Q：遇到问题不会做怎么办？</h4>

          <p>深呼吸～身为一个（未来的）职业程序员，遇到bug是很正常的事，仔细看看error的内容（其实就是英文），通常它会告诉你哪一步错了、少了什么，需要怎么做。真的无法解决，就拍照上slack询问吧。我们有线上助教会为您解答问题。</p>
      </div>
      <br>

      <div class="faq-block">
          <h4>Q：学到一半不想学了会退费吗？</h4>

          <p>
              抱歉，线上课程一旦出售就不会退费哦。
              <br>
              在下单前请慎重思考三件事：
              <br>
              1、我是否愿意牺牲其他时间来用于学习编程？
              <br>
              2、我是否有强烈学会编程的欲望？
              <br>
              3、我是否能为自己的选择负责？
              <br>
              以上答案均为是，那么请放心下单。
          </p>
      </div>
      <br>

      <div class="faq-block">
          <h4>Q：其他问题</h4>

            <p>请发送至邮箱 hackschoolcn@gmail.com 或 <a href="https://github.com/hackschoolcn/hackschool/issues" target=_new>留言</a> </p>

      </div>
</div>
</div>
