<tr>
  <td width="80%">
    <%= link_to(render_highlight_content(course,@query_string),course_path(course)) %> -
    <%= course.description %>
  </td>
  <td> <%= course.created_at.to_s(:short) %> </td>
</tr>
