
<div class="group">
  <div class="btn-group pull-right" >
    <%= link_to("课程讨论区", account_course_questions_path(course) , :class => "btn btn-default") %>
    <%= link_to("课程作业", "#", :class => "btn btn-default") %>

  </div>
</div>
