
<div class="group">
  <div class="btn-group pull-right" >
    <%= link_to("课程内容FAQ", account_course_faqs_path(course), :class => "btn btn-default") %>
    <%= link_to("Github讨论区", "https://github.com/hackschoolcn/class-1", target: "_blank", :class => "btn btn-default") %>
    <%= link_to("课程作业", account_course_assignments_path(course), :class => "btn btn-default") %>
  </div>
</div>
