<div class="col-md-8 col-lg-offset-2">
  <%= render "account/chapters/search_bar" %>

  <br>


   <div class="item_div">
     <table class="table table-borderd">
       <%= render :partial => "account/courses/item", :collection => @courses, :as => :course %>
     </table>

     <div class="text-center">
      <%= will_paginate @courses %>
     </div>
   </div>

</div>
