<div class="row">
<div class="col-md-8 col-md-offset-2">
<h2 class="text-center">学员心得</h2>
<br><br>
 <div class="col-md-6 left-content">
    <div class="clearfix content-block">
      <div class="col-md-2 pull-left">
         <%= image_tag("http://imageshack.com/a/img921/4563/0SNTbv.png") %>
      </div>

      <div class="col-md-10 pull-right" style="padding:20px;">
          <ul>
            <li>panxiubin</li>
            <li>完全没有基础的我，甚至可以说是负基础，终于也有机会体验到开发项目的高大上。很早之前就想学了，苦于在国内一直没有找到好的rails的网站，现在我也能自己做网页，太开心，满足了。</li>
          </ul>
      </div>
    </div>
  </div>

  <div class="col-md-6 right-content">
       <div class="clearfix content-block">
         <div class="col-md-2 pull-left">
            <%= image_tag("http://imageshack.com/a/img921/4563/0SNTbv.png") %>
         </div>

         <div class="col-md-10 pull-right" style="padding:20px;">
             <ul>
               <li>tankokhui</li>
               <li>这个课程对后续的学习很重要，强烈建议大家不要跳过，因为可以让你避开很多坑。大家有兴趣可以来我的 <%= link_to("Blog", "http://nieyicheng-blog.logdown.com") %> 看看我的学习日记。</li>
             </ul>
         </div>
     </div>
   </div>
 </div>
 </div>
