<br><br><br>
<div class="row course-benefit course-content-block">

    <div class="col-sm-4 text-center">
        <div>
            <img src="http://imageshack.com/a/img923/5290/zBrAbG.png" alt="" class="img-circle">
        </div>

        <h3>课程目标</h3>
        <p>体验 Git基础语法<br>体验 Rails开发的便捷性<br>学会使用 Heroku 部署产品</p>
    </div>

    <div class="col-sm-4 text-center">
        <div>
            <img src="http://imageshack.com/a/img921/7214/Nozz65.png" alt="" class="img-circle">
        </div>
        <h3 >适合对象</h3>
        <p>
            想快速入门程序世界的爱好者<br>
            想快速缩短学习 Rails 开发的践行者<br>
            想靠自己的努力改变命运的人生开拓者</p>
    </div>

    <div class="col-sm-4 text-center">
        <div>
            <img src="http://imageshack.com/a/img921/7569/UBpHu7.jpg" alt="" class="img-circle">
        </div>

        <h3>课前准备</h3>
        <p>一台 Mac 电脑<br>一支笔和一本本子<br>大学四级以上英语水平</p>
    </div>

</div>
