<h2 class="text-center">学员心得</h2>

<div class="row">
<div class="col-md-10 col-md-offset-1">
<br><br>
 <div class="col-md-6">
      <div class="col-md-3">
         <%= image_tag("http://imageshack.com/a/img921/4563/0SNTbv.png") %>
      </div>

      <div class="col-md-9">
          <ul>
            <%= link_to("@panxiubin", "http://panxiubin-blog.logdown.com") %><br />
            完全没有基础的我，甚至可以说是负基础，终于也有机会体验到开发项目的高大上。很早之前就想学了，苦于在国内一直没有找到好的rails的网站，现在我也能自己做网页，太开心，满足了。
          </ul>
      </div>
  </div>

  <div class="col-md-6">
         <div class="col-md-3">
            <%= image_tag("http://imageshack.com/a/img921/4563/0SNTbv.png") %>
         </div>
         <div class="col-md-9">
             <ul>
               <%= link_to("@nieyicheng", "http://nieyicheng-blog.logdown.com") %><br />
               这个课程对后续的学习很重要，强烈建议大家不要跳过，因为可以让你避开很多坑。大家有兴趣可以来我的 blog 看看我的学习日记。
             </ul>
         </div>
     </div>
   </div>
 </div>
