<div class="col-md-4 col-md-offset-4">
   <div class="text-center">
      <h2>适合参加的对象</h2>
   </div>
   <div class="normal-content">
      <p>想快速入门程序世界的爱好者</p>
      <p>想快速缩短学习 Rails 开发的践行者</p>
      <p>想靠自己的努力改变命运的人生开拓者</p>
   </div>
</div>
