<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="text-center">环境配置 - 课程简介
    </h2>
    <br></br>
    <p>本课程是为了让零基础的同学们可以在自己的电脑上快速搭建出一个可进行开发的环境。并可以尝试到在本地电脑上用 Rails 创建一个专案，并成功发布到 Heroku 上。
    </p>
    <p>
        举一个简单的例子：你要先懂得中文，才有办法吸收这篇文章的内容，而想要阅读名家诗词，你必须具备一定程度的文学基础，才能领略其中的美妙。</p>
    <p>
        想要学习世界顶尖程序员的知识，必须先具备一些基础的程式思维，才达到收获的最佳效果。先从搭建开发环境开始吧！</p>
    <p>
        教程内含有最精简的软件安装指示，帮助学员过滤了网上铺天盖地的杂乱信息，避免了大量摸索和碰壁的无效时间，不走弯路，将宝贵的时间花在学习编程上。</p>
    <p>
        通过实作这门课程，你将最高效得搭建一个自己顺手的开发环境。</p>
  </div>
</div>
