<div class="col-xs-12 col-sm-6 col-md-4">
    <%= link_to course_path(course) do %>
    <div class="thumbnail course-item">
        <%= render_course_image(course, :medium) %>

        <div class="course-info">
            <h3 class="course-title"><%= course.title %></h3>
            <div class="course-author"> by: xdite in: Rails Basic </div>
            <div class="course-description group">
              <%= render_course_one_sentence_summary(course) %>
            </div>
        </div>
        <% end %>
    </div>
</div>
