<div class="col-xs-12 col-sm-6 col-md-4">
    <%= link_to course_path(course) do %>
    <div class="thumbnail course-item">
        <%= render_course_image(course, :front) %>

        <div class="course-info">
            <h3 class="course-title"><%= course.title %></h3>
            <%= render_course_description(course) %>
        </div>
        <% end %>
    </div>
</div>
