<div class="col-md-10 col-md-offset-1">
    <!-- Nav tabs -->
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">课程详情页</a>
            </li>
            <li role="presentation">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">课程目录页</a>
            </li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <% case @course.title %>
          <% when "Rails 环境配置" then %>
            <%= render "courses/course1/course_detail" %>
          <% when "Rails 初级教程" then  %>
            <%= render "courses/course2/course_detail" %>
          <% when "Rails 中级教程" then  %>
            <%= render "courses/course3/course_detail" %>
          <% end %>
        </div>

        <div role="tabpanel" class="tab-pane" id="profile">
            <div class="col-md-10">
              <br>
              <%= render :partial => "course_curriculum_for_preview" %>
            </div>
        </div>

    </div>
</div>
