<div class="center jumbotron">
    <h1>Welcome to the Hack School</h1>
    <h3>
        A tough yet elegant way of being bloody awesome
    </h3>
    <%= link_to("注册", new_user_registration_path, class:"btn btn-lg btn-primary") %>
    <%= link_to("登陆", new_user_session_path, class:"btn btn-lg btn-default") %>
</div>
