<div class="center jumbotron">
    <h1>Welcome to the Hack School</h1>
    <h3>
        This is the Awesome online coding school
        <br>Based on<a href="http://www.growthschool.com/">
            Rails101</a>
    </h3>
    <%= link_to("Sign up now!", new_user_registration_path, class:"btn btn-lg btn-primary") %>
</div>
