<div class="container">
  <div class="stepwizard">
      <div class="stepwizard-row">

          <div class="stepwizard-step">
              <button type="button" class="btn btn-default btn-circle">1</button>
              <p>注册帐号</p>
          </div>

          <div class="stepwizard-step">
              <button type="button" class="btn btn-primary btn-circle"  disabled="disabled">2</button>
              <p>购买付费方案</p>
          </div>

          <div class="stepwizard-step">
              <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
              <p>报名上课</p>
          </div>
      </div>
  </div>
</div>
