
<hr class="course-divider">
    <div class="thumbnail course-item center-block">
        <%= render_course_image(@course, :medium) %>

        <div class="course-info">
            <h3 class="course-title"><%= @course.title %></h3>
            <div class="course-author"> by <%= @course.teacher_name %> </div>
            <div class="course-description group">
              <%= render_course_one_sentence_summary(@course) %>
            </div>
        </div>
    </div>
