<%= render :partial => "upper_bar" %>
<%= render :partial => "courses/steps/hint_2" %>

<div class="container">

    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">单节课程购买</h3>
            </div>
            <div class="panel-body">
                <h2 class="text-center"> ¥100 </h2>
                <ul>
                  <h3><li>手把手教你如何从0基础做出自己想做的网站</li></h3>
                  <h3><li>专业FAQ数据库支撑，解答学习疑惑</li></h3>
                  <h3><li>GITHUB作为问答区域，你提出的问题将被同学或老师第一时间解答</li></h3>
                  <h3><li>及时更新教材，使用软件最新版本，强大的后台维护团队</li></h3>
                </ul>

                <%= link_to("在前进的道路上毫不犹豫得付款", single_purchase_account_orders_path(:course_id => @course.id) , method: :post, :class => "btn btn-success btn-block") %>



            </div>
        </div>

    </div>

    <div class="col-md-6">

      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">全年课程购买</h3>
          </div>
          <div class="panel-body">
            <h2 class="text-center"> ¥6000 </h2>

            <ul>
              <h3><li>除了左侧所有的好处</li></h3>
              <h3><li>全年免费参加HackSchool所有课程</li></h3>
              <h3><li>加入全栈工程师社群，这里有牛逼的世界级程序员和上进的学员们</li></h3>
              <h3><li>为优秀学员内推简历，解决就业</li></h3>
            

            </ul>

            <%= link_to("立刻花钱投资自己", yearly_subscription_from_course_view_account_orders_path(course_id: @course.id), method: :post, :class => "btn btn-primary btn-block") %>

          </div>
      </div>

    </div>


</div>
