<h1>index</h1>

<% @courses.each do |course| %>

<%= link_to course_path(course) do %>
<div class="col-xs-12 col-sm-6 col-md-4">
    <div style="width:360px ; height:390px; overflow:hidden; " class="img-thumbnail">
        <div>
            <%= render_course_image(course) %>
            <br/>
            <h1 style="color:black"><%= course.title %></h1>
            <div style="margin-bottom:0px; color:black">
                <%= render_course_teacher_name(course) %>
            </div>
        </div>
    </div>
    <% end %>
    <div class="text-left" style="padding: 5px"></div>
</div>

<% end %>
<!-- border:1px solid -->
