<h2><%= @course.title %></h2>

<% @chapters.each do |chapter| %>
  <div class="panel panel-default">
    <!-- Default panel contents -->
        <div class="panel-heading"><%= chapter.title %></div>
        <!-- List group -->
        <ul class="list-group">
          <% chapter.posts.each do |post| %>
          <li class="list-group-item"><%= link_to(post.title, course_chapter_post_path(@course, chapter, post)) %></li>
          <% end %>
        </ul>
  </div>
<% end %>
