
/* course-index-page */
.course-item {
    a:hover {
        text-decoration: none !important;
    }
    width: 360px;
    height: 390px;
    overflow: hidden;
    display: block;
    // margin: auto;
}

.course-info {
    min-height: 300px;
    h3 {
        color: black;
        margin-bottom: 10px;
    }
    text-align: center;
    color: grey;

    .course-author{
      margin-top: 10px;
      margin-bottom: 10px;
    }
}

/* course-show-page */


.course-hero-image {
    text-align: center;
    padding: 130px 0;
}
.course-title-bg {
    padding: 20px;
    margin-bottom: 10px;

    .course-title {
        text-align: center;
        text-shadow: 0 10px 10px #000;
        color: #fff;
    }
}

.course-hero-image-bottom {
    text-align: center;
    padding: 90px 0;
}
.course-title-bg {
    padding: 20px;
    margin-bottom: 10px;

    .course-title {
        text-align: center;
        text-shadow: 0 10px 10px #000;
        color: #fff;
    }
}

.banner-image{
  position: absolute;
  top: 0;
  z-index: 1 ;
  width: 100%;
  height: 500px;
}

.banner-image-annual{
  position: absolute;
  top: 0;
  background-size: cover;
  z-index: 1 ;
  width: 100%;
  height: 500px;
  background: url(/images/VIP.jpg) center;
}

.banner{
  position: relative;;
  overflow: hidden;
  width: 100%;
  height: 450px;
  z-index: 2;
  top: 0;
  background: rgba(4,28,58,0.5);
}

.banner-bottom {
  position: relative;;
  overflow: hidden;
  width: 100%;
  height: 350px;
  z-index: 2;
  top: 0;
  background: rgba(4,28,58,0.5);
  margin-bottom: -40px;
}

.banner-font{
  position: absolute;
  right: 0;
  top: 100px;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px #000000;
}

.course-price{
  color: #fff;
  text-shadow: 0 3px 3px #000;
}
.courseContent {
    height: 200px;
    margin-top: 10px;
}

.course-tab{
  margin: 30px 0;
  .tab-pane{
    padding: 15px;
  }
}

/* course-show-page */

.course-upper-bar{
  height: 240px;
  margin-top: 30px;
  h2{
    color: black;
    margin-bottom: 30px;
  }
  .price{
    font-size: 1.2em;
  }
}

/* navbar */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}
.carousel {
    height: 500px;
    background-color: #000;
    margin-bottom: 50px;
}
.carousel .item {
    height: 500px;
    background-color: #000;
}
.carousel img {
    width: 100%;
}
#summary-container .col-md-4 {
    text-align: center;
}
.feature {
    padding: 30px 0;
}
.feature-heading {
    font-size: 50px;
    color: #2a6496;
    margin-top: 120px;
}
.feature-heading .text-muted {
    font-size: 28px;
    color: #999;
}
.courselayout {}

.imgicon {
    width: 200px;
    height: 200px;
    margin-left: 20px;
    background: #EEE;
}
.marginLR30 {
    margin: 0 30px;
}
.marginTB30 {
    margin: 30px 0;
}
.imgiconDescrption {
    background: #eee;
}
.imgiconDescrption h3 {
    font-weight: bold;
}
.courseContent p {
    display: block;
}
