
/* course-index-page */
.course-item {
    a:hover {
        text-decoration: none !important;
    }
    width: 360px;
    height: 390px;
    overflow: hidden;
}

.course-info {
    min-height: 300px;
    h3 {
        color: black;
        margin-bottom: 10px;
    }
    text-align: center;
    color: grey;

    .course-author{
      margin-top: 10px;
      margin-bottom: 10px;
    }
}

/* course-show-page */


.course-hero-image {
    text-align: center;
    padding: 40px 0;
}
.course-title-bg {
    padding: 20px;
    background: rgba(0,0,0,0.3);
    margin-bottom: 10px;

    .course-title {
        text-align: center;
        text-shadow: 0 1px 1px #000;
        color: #fff;
    }
}

.course-price{}
.courseContent {
    height: 200px;
    margin-top: 10px;
}

.course-tab{
  margin: 30px 0;
  .tab-pane{
    padding: 15px;
  }
}

/* navbar */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}
.carousel {
    height: 500px;
    background-color: #000;
    margin-bottom: 50px;
}
.carousel .item {
    height: 500px;
    background-color: #000;
}
.carousel img {
    width: 100%;
}
#summary-container .col-md-4 {
    text-align: center;
}
.feature {
    padding: 30px 0;
}
.feature-heading {
    font-size: 50px;
    color: #2a6496;
    margin-top: 120px;
}
.feature-heading .text-muted {
    font-size: 28px;
    color: #999;
}
.courselayout {}

.imgicon {
    width: 200px;
    height: 200px;
    margin-left: 20px;
    background: #EEE;
}
.marginLR30 {
    margin: 0 30px;
}
.marginTB30 {
    margin: 30px 0;
}
.imgiconDescrption {
    background: #eee;
}
.imgiconDescrption h3 {
    font-weight: bold;
}
.courseContent p {
    display: block;
}
