// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-info{
  min-height: 300px;
}
<<<<<<< HEAD
=======

/* universal */
body {
padding-top: 60px;
}
section { overflow: auto;
}
textarea {
resize: vertical;
}
.center {
text-align: center;
}
.center h1 { margin-bottom: 10px;
}


/* navbar */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
>>>>>>> origin/develop
