<div class="col-md-6">
  2000 RMB
  <br>
  <%= link_to("季费", quarterly_subscription_account_orders_path, method: :post, :class => "btn btn-success btn-block") %>
</div>
<div class="col-md-6">
  6000 RMB
  <br>
  <%= link_to("年费", yearly_subscription_account_orders_path, method: :post, :class => "btn btn-primary btn-block") %>
</div>
