<<<<<<< HEAD
<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2016 HackSchool
    <br>Design by HackSchool
  </p>
=======


<footer class="footer" style="margin-top:10px;">
  <small>
    Copyright ©2016 <a href="#">HackSchool</a>
    Design by <a href="#">FullStack-Team-2</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to("About", "#") %></li>
      <li><%= link_to("Contact", "#") %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
>>>>>>> origin/develop
</footer>
