
<!-- The content of your page would go here. -->
  <footer class="footer-distributed" id="footer">

    <div class="footer-right">

      <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
      <a href="http://www.weibo.com/"><i class="fa fa-weibo"></i></a>
      <!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
      <a href="https://github.com/hackschoolcn"><i class="fa fa-github"></i></a>

    </div>

    <div class="footer-left">

      <p class="footer-links">
        <a href="/">Home</a>
        ·
        <a href="/">Blog</a>
        ·
        <a href="/">Pricing</a>
        ·
        <a href="/">About</a>
        ·
        <a href="/">Faq</a>
        ·
        <a href="mailto:hackschool@gmail.com">Contact</a>
      </p>

      <p>HackSchool &copy; 2016</p>
    </div>

  </footer>
