<!-- The content of your page would go here. -->

    <footer class="footer-distributed" id="home-page-footer">

      <div class="home-footer-left">

        <h3>HackSchool</h3>

        <p class="footer-links">
          <a href="/">Home</a>
          ·
          <a href="/">Blog</a>
          ·
          <a href="/">Pricing</a>
          ·
          <a href="/">About</a>
          ·
          <a href="/">FAQ</a>
          ·
          <a href="mailto:support@hackschool.cn">Contact</a>
        </p>

        <p class="footer-company-name">HackSchool &copy; 2016</p>
      </div>

      <div class="footer-center">

        <div>
          <a href="http://ditu.amap.com/place/B000A9Q6N6"><i class="fa fa-map-marker"></i></a>
          <p><a style="color:  #ffffff" href="http://ditu.amap.com/place/B000A9Q6N6"><span>建外SOHO东区8号楼, 2802</span>北京, 国贸</a></p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+86 010 58692528</p>
        </div>

        <div>
          <a href="mailto:support@hackschool.cn"><i class="fa fa-envelope"></i></a>
          <p><a href="mailto:support@hackschool.cn">support@hackschool.cn</a></p>
        </div>

      </div>

      <div class="home-footer-right">

        <p class="footer-company-about">
          <span>关于HackSchool</span>
          Hackschool是一个编程教育平台，主张从做中学，致力于用最快的速度让你掌握全栈编程技能、迅速加入改变世界的行列。
        </p>

        <div class="footer-icons">

          <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
          <a href="http://www.weibo.com/"><i class="fa fa-weibo"></i></a>
          <!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
          <a href="https://github.com/hackschoolcn"><i class="fa fa-github"></i></a>

        </div>

      </div>

    </footer>
