<tr>
  <td width="80%">

       <h2><%= post.chapter.chapter %>  >
       <%= link_to(post.title, admin_chapter_post_path(post.chapter,post)) %></h2>
       <br>
       <%= render_post_article_highlight_content(post,@query_string) %>

  </td>

</tr>
